body{
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

/*MENU*/

.navbar{
  width: 100%;
  position: relative;
  padding-bottom: 0;
  margin: 0;
  padding-left: 2%; 
  background-color:#142739;
  z-index: 100;
  border-radius: 0;
  border:none;
 }

  
.collapse{
  padding-top: 5px;
}

.nav li {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item{
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.navbar-brand{
  padding-top: 5px;
  margin-right: -40px;
}

.navbar-brand > img{
  height: 35px;
  width: 35px;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  padding-top: 5px;  
  margin-right: 80px; 
 }

.search input {
  width: 250px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 0 1px #ccc, 0 3px 2px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.navbar-nav li a{
  color: #d6d6c2;
  text-decoration: none;
}

.nav-item a:hover{
  color: white;
  text-decoration: none;
}

.row>img{
  height: 20px;
  height: 20px;
  border-radius: 50px;
}

.dropdown-menu li a{
  color: black;
}

/*END OF MENU*/

/*MAIN CONTENT*/

.flex-container{
  padding-left: 2%;
  padding-right: 2%;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

.identity{
  width: 20%; 
  border: 1px solid silver;
  text-align: center;
}

.posts{
  width: 40%;  
  background-color: #f2f2f2;
}


.jobs{
  width: 24%;  
  text-align: center;
  background-color: #f2f2f2;
}

.identity,.posts,.jobs{
    margin: 10px;
    font-size: 12px;
    height: auto;
}

.content{
  background-color: white;
  border-bottom: 1px solid silver;
  padding: 5%;
  text-align: center;
}

.photo{
  padding-top:15%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg3EPcYJCFa8qpAs6JTtueb2iNlrZwWt8GI28pI-DXtCURmUfbpA");
  background-repeat: no-repeat;
  background-size: 100% 40%;
}

.picture{
  height: 60%;
  width: 60%;
  border: 2px solid white;
}

.blue{
  color: #1E90FF;
}

.grey{
  color:grey;
}

.posts .row{
  margin:0 auto;
  padding: 3% 1% 2% 1%;
}

h5, h6{
  margin: 0;
}

.col>.glyphicon, .col>p{
  display: inline;
}

.glyphicon-camera{
  text-align: left;
  padding-left:0;
}

.col>.btn{
  float: right;
}

footer{
  border-top: 1px solid grey;
  width:96%;
  padding-left: 0;
  margin:0 auto;
}

footer .col-lg-10{
  padding-left: 0;
}

.upload, .comment1, .suggestion{
  border: 1px solid silver;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 20px;
  background-color: white;
}

.logo{
  height: 50px;
  width: 50px;
  align-items: left;
}

.row-header{
  border-bottom: 1px solid silver;
}

.follow{
  padding:0;
}

.image{
  padding:0;
}

.image>img{
  width: 100%;
  height: 50%px;
}

.row>p{
  padding: 5px;
}

.image-box{
  margin: 2%;
}

.image-description{
  border: 1px solid silver;
}

.image-description>.col{
  padding:1%;
}

.advertisemnet-content{
  margin-bottom: 10px;
  border: 1px solid silver;
  box-shadow: 0 4px 2px -2px gray;
  background-color: white;
}

.advertisement{
  margin: 2%;
  padding: 2%;
  border: 1px solid silver;
  background-color: white;
}

.add{
  display: inline;
}

.advertisement>.row{
  padding: 1% 1% 3% 1%;
}

.icons{
  width: 85%;
  margin: 0 auto;
}

.button>.btn{
  border-color: #1E90FF;
  color: #1E90FF;
  margin: 0 auto;
}

.jobs>footer{
  margin-top: 20px;
  text-align: center;
  padding: 2%;
}

.jobs>footer>.row{
  margin-bottom: 2%;
}

.copyright{
  margin-top: 5%;
 }

.copyright img{
  height: 98%;
  width: 100%;
}

.copyright>.col-lg-4{
  padding-right: 0;
}

.copyright>.col-lg-8{
  text-align: left;
  padding-left: 0;
  padding-top: 2%;
}

.col>a{
  text-decoration: none;
}

.col>a>span:hover{
  color: #1E90FF;
}